<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>内部漏洞预警监控系统</title>
  <link rel="stylesheet" href="/static/css/layui.css" media="all">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">内部漏洞预警监控系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="/">首页</a></li>
      <li class="layui-nav-item"><a href="/search">搜索</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
    </ul>
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl>
      </li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">监控预警</a>
          <dl class="layui-nav-child">
            <dd><a href="/wechat">微信推送</a></dd>
            <dd><a href="/deepweb">暗网监控</a></dd>
            <dd><a href="/spider">今日CVE</a></dd>
            <dd><a href="/seebug">Seebug</a></dd>
            <dd><a href="/anquanke">安全客</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    {% block body_block %}
    {% endblock %}
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    © - 断剑重铸之日 骑士归来之时
  </div>
</div>
<script src="/static/js/layui.js"></script>
<script>
layui.use('element', function () {
var element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块
});
</script> 
</body>
</html>